<div class="container w-75 mt-5 rounded shadow pb-3 pt-3">
  <div class="row align-items-stretch">
    <div class="col-12 bg-white rounded shadow mb-3">
      <h2>Bienvenido Administrador: <span class="text-primary text-uppercase">{{restUsuario.nombre}} {{restUsuario.apellido}}</span></h2>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 pb-3">
      <div class="card">
        <img src="/imgs/mantenedorUsuarios.png" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/mantenedorUsuarios" class="btn btn-primary col-12 mx-auto">Mantenedor Usuarios</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 pb-3">
      <div class="card">
        <img src="/imgs/mantenedorSolicitudes.png" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/mantenedorSolicitudes" class="btn btn-primary col-12 mx-auto">Ver Solicitudes</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 pb-3">
      <div class="card">
        <img src="/imgs/mantenedorProductos.png" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/mantenedorProductos" class="btn btn-primary col-12 mx-auto">Mantenedor Productos</a>
        </div>
      </div>
    </div>
  </div>
</div>