
    <div class="container w-75 bg-primary mt-5 rounded shadow">
        <div class="row align-items-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

            </div>
            <div class="col bg-white p-5 rounded">
                <h2 class="fw-bold text-center py-5">Inicia sesión para armar tu computador</h2>
                <form action="#">
                    <div class="mb-4">
                        <label for="email" class="form-label"> Correo electrónico:</label>
                        <input type="email" class="form-control" name="email"> 
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label"> Contraseña:</label>
                        <input type="password" class="form-control" name="password"> 
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button><br>
                        <a href="/" class="btn btn-primary">¿No tienes cuenta? Registrate</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
